@import "tailwindcss";

@keyframes floatGlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.animate-float-glow {
  animation: floatGlow 6s ease-in-out infinite;
}
